<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>
        {% block title %}
        FinDocAI
        {% endblock %}
    </title>


    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/style.css') }}"
    >

</head>


<body>


<header class="navbar">

    <a
        href="/"
        class="brand"
    >

        <div class="brand-logo">
            FD
        </div>

        <div class="brand-name">
            FinDoc<span>AI</span>
        </div>

    </a>


    <nav>

        <a href="/">
            Home
        </a>

        <a href="/detect">
            Detect
        </a>

        <a href="/how-it-works">
            How It Works
        </a>

        <a href="/performance">
            Performance
        </a>

        <a href="/about">
            About
        </a>

    </nav>

</header>


<main>

    {% block content %}
    {% endblock %}

</main>


</body>

</html>